form {
    width: 450px;
    margin-top: 200px;
}

#emailHelp {
    visibility: hidden;
}

.container {
    display: grid;
}

.card {
    padding: 10px;
    /*background-color: rgb(235, 239, 240);*/
    background-image: linear-gradient(to bottom right, rgba(153, 227, 245, 0), rgb(139, 207, 224))
}

body {
    display: grid;
    justify-items: center;
}

button {
    justify-self: center;
    align-self: center;
    margin-bottom: 15px;
}

.col-xl {
    display: grid;
    justify-items: center;
}